* {
  cursor: none;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
}
.cursor {
  position: fixed;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
}

.cursors .cursor:nth-child(1) {
  background-color: transparent;
  border: 1px solid yellowgreen;
  z-index: 100002;
}
.cursors .cursor:nth-child(2) {
  background-color: #f3f3f3;
  z-index: 100001;
  height: 9px;
  width: 9px;
}
